@media only screen and (max-width: 600px) {
    .title-page {
        height: 600px; /* Full viewport height */
        background: url('/clientui/static/images/hero_image_square.png') no-repeat center center/cover;
        background-color: var(--primary-purple);
        padding: 0;
    }

    .title-page .title-text {
        text-align: center;
        width: 100%;
    }

    section#about, section#faq, section#disclaimer, section#data-protection {
        padding: 0 30px;
    }

}
