<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeIE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/clientui/static/hackathon.css" rel="stylesheet">
</head>
<body>

    <!-- Alert -->
    <div class="container-fluid my-3 fixed-top z-3" gui-show="alerts.has_message()" gui-list="alerts.messages" gui-item="message">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error:</strong> <span gui-text="message"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top z-2">
        <a class="navbar-brand" role="button" gui-click="hackathon.set_tab('info')"><img src="/clientui/static/images/home_ie_icon_sm.png" alt="HomeIE logo" />HomeIE</a>
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-3" gui-click="hackathon.set_tab('info')">
                    <a class="nav-link" gui-class="hackathon.tab=='info'&&'active'" href="#info">Info</a>
                </li>
                <li class="nav-item px-3" gui-click="hackathon.set_tab('chat')">
                    <a class="nav-link" gui-class="hackathon.tab=='chat'&&'active'" href="#chatbotend">Chatbot</a>
                </li>
                <li class="nav-item px-3" gui-click="hackathon.set_tab('contact')">
                    <a class="nav-link" gui-class="hackathon.tab=='contact'&&'active'" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- General Info Screen -->
    <div class="container-fluid my-5" gui-show="hackathon.tab=='info'">
        <section id="info" class="row">

            <!-- Title Page -->
            <section class="title-page d-flex align-items-center justify-content-center text-center text-white">
                <div class="overlay w-100 h-100 d-flex flex-column align-items-center justify-content-center">
                    <h1 class="display-4 fw-bold">HomeIE</h1>
                    <p class="lead mb-4">Tired of insecure renting?</p>
                    <p class="lead mb-4">HomeIE AI powered tool helps you work towards a dream of long-term, secure housing</p>
                    <a class="btn btn-primary btn-lg" gui-click="hackathon.set_tab('chat')" href="#chatbotend">Try HomeIE now</a>
                </div>
            </section>
        </section>
    </div>

    <section id="about" class="container my-5"  gui-show="hackathon.tab=='info'">
        <div class="row">
            <div class="col">
                <h2 class="mb-3">About HomeIE</h2>
            </div>
        </div>

        <div class="row gx-5">
            <div class="col-sm-12 col-md-6">
                <p>HomeIE seeks to help people in Ireland transition from the insecurity of the private rental market into secure long-term housing. Given your personal circumstances, it helps you to understand some options, to progress to a longer-term housing solution, and spells out some steps you may need to take to do so.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>HomeIE recognises that secure housing could be:
                    <ul>
                        <li>Purpose-built or publicly owned social housing, under a local authority rental scheme (i.e. not a private landlord)</li>
                        <li>A property purchased by you (could be part funded through grant schemes, or co-owned via a Shared Ownership scheme)
                    </ul>
                </p>
            </div>
       </div>

    </section>

    <section id="faq" class="container my-5" gui-show="hackathon.tab=='info'">
        <div class="row">
            <div class="col">
                <h2>FAQ</h2>
            </div>
        </div>

        <div>
            <p>Question 1: An answer both entertaining and illuminating</p>
            <p>Question 2: An answer both entertaining and illuminating</p>
        </div>
     </section>

     <section id="disclaimer" class="container my-5" gui-show="hackathon.tab=='info'">
        <div class="row my-5">
            <div class="col-sm-12 col-md-6">
                <h2>Disclaimer</h2>
                <p>
                    HomeIE aims to assist you by using AI to automatically gather information which appears to be relevant to your circumstances. Given that AI is an emerging technology, any information shown cannot be guaranteed to be correct, and the responsibility remains with you, the user, to verify that information with the source provider.
                </p>
                <p>
                    Having said that, this is a learning model so if you spor an error please let us know on (contact-us details) and we will make every effort to correct it!
                </p>
            </div>

            <div class="col-sm-12 col-md-6 disclaimer-image">
            </div>
        </div>
    </section>

    <section id="data-protection" class="container my-5" gui-show="hackathon.tab=='info'">

        <div class="row my-5">
            <div class="col-sm-12 col-md-6 data-protection-image">
            </div>

            <div class="col-sm-12 col-md-6">
                <h2>Data Protection</h2>
                <p>
                    Any data you enter (income, outgoings, work situation, etc) is retained by HomeIE for the duration of the session only. However, this data is submitted to a commercial LLM platform and we actually haven't a clue whether they are going to grab your data and punish you with it forever. Sorry about that.
                </p>
            </div>
        </div>

    </section>

    <!-- Chatbot UI Screen -->

    <div id="chatbot" class="container my-5" gui-show="hackathon.tab=='chat'">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <h2>User Instructons</h2>
                <form>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name">Name</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Name">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name">Location</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Name">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name">Income p/a</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Name">
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-9">
                <h2>Chatbot</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="chat-window mb-3">
                            <div gui-list="hackathon.history" gui-item="history">
                                <div class="chat-message" gui-class="history.from">
                                    <div class="chat-bubble" gui-class="history.from" gui-text="history.text"></div>
                                </div>
                            </div>

                            <!-- Typing Indicator -->
                            <div class="chat-message bot" id="typingIndicator" gui-show="hackathon.loading">
                                <div class="typing-indicator">
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type your message here" aria-label="Chat input" gui-val="hackathon.current_prompt"></input>
                            <button class="btn btn-primary" type="button" gui-click="hackathon.process_prompt()">Send</button>
                        </div>
                    </div>
                </div>
                <span id="chatbotend"></span>
            </div>
        </div>
    </div>

    <!-- Contact Info Screen -->
    <div id="contact" class="container my-5" gui-show="hackathon.tab=='contact'">
        <h2>Contact Us</h2>
        <p>We are really interested in your feedback! HomeIE has been developed under hackathon time pressure and we feel this is only the beginning... please tell us what's not working, what would be of value to offer, what have we not yet ocnsidered?</p>
        <p>We need your help to improve Housing security for people in Ireland. Together we can lobby for change, can share information, can use our personal and social resources to best advantage...</p>
        <ul class="list-group">
            <li class="list-group-item">Email: contact@example.com</li>
            <li class="list-group-item">Phone: +123 456 7890</li>
        </ul>

        <h4 class="mt-4 mb-2">Who we are</h4>
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile-card">
                    <img src="https://ca.slack-edge.com/T0L30B202-U0443TJJAJW-795ce6c4a299-48" alt="Profile Photo 1" class="profile-photo">
                    <h5>Berat Zorlu</h5>
                    <div class="role">Chief Recombobulator</div>
                    <a href="https://www.linkedin.com/in/janedoe" class="linkedin-link" target="_blank">LinkedIn Profile</a>
                    <p>Almost certainly not a bot.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile-card">
                    <img src="https://ca.slack-edge.com/T0L30B202-U04KZ41SHAR-40dd6d74cdc8-48" alt="Profile Photo 1" class="profile-photo">
                    <h5>Dierdre McCarthy</h5>
                    <div class="role">Chief Recombobulator</div>
                    <a href="https://www.linkedin.com/in/janedoe" class="linkedin-link" target="_blank">LinkedIn Profile</a>
                    <p>Almost certainly not a bot.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile-card">
                    <img src="https://ca.slack-edge.com/T0L30B202-U02JSK36HGU-2955f9d48336-48" alt="Profile Photo 1" class="profile-photo">
                    <h5>Sean Meade</h5>
                    <div class="role">Chief Recombobulator</div>
                    <a href="https://www.linkedin.com/in/janedoe" class="linkedin-link" target="_blank">LinkedIn Profile</a>
                    <p>Almost certainly not a bot.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile-card">
                    <img src="https://ca.slack-edge.com/T0L30B202-UQXQCG2TT-a3b077414ed4-48" alt="Profile Photo 1" class="profile-photo">
                    <h5>Stefan Dworschak</h5>
                    <div class="role">Chief Recombobulator</div>
                    <a href="https://www.linkedin.com/in/janedoe" class="linkedin-link" target="_blank">LinkedIn Profile</a>
                    <p>Almost certainly not a bot.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile-card">
                    <img src="https://ca.slack-edge.com/T0L30B202-U03L9UE1WBF-6970b8e56a3a-48" alt="Profile Photo 1" class="profile-photo">
                    <h5>Valerie No Loinsigh</h5>
                    <div class="role">Chief Recombobulator</div>
                    <a href="https://www.linkedin.com/in/janedoe" class="linkedin-link" target="_blank">LinkedIn Profile</a>
                    <p>Almost certainly not a bot.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile-card">
                    <img src="https://ca.slack-edge.com/T0L30B202-U01BLE69FGX-ea6bbe8f82a6-48" alt="Profile Photo 1" class="profile-photo">
                    <h5>Vinnie Ordobas</h5>
                    <div class="role">Chief Recombobulator</div>
                    <a href="https://www.linkedin.com/in/janedoe" class="linkedin-link" target="_blank">LinkedIn Profile</a>
                    <p>Almost certainly not a bot.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile-card">
                    <img src="https://ca.slack-edge.com/T0L30B202-U014FBGKZLN-a5485a1f9862-48" alt="Profile Photo 1" class="profile-photo">
                    <h5>Ray Gallagher</h5>
                    <div class="role">Chief Recombobulator</div>
                    <a href="https://www.linkedin.com/in/janedoe" class="linkedin-link" target="_blank">LinkedIn Profile</a>
                    <p>Almost certainly not a bot.</p>
                </div>
            </div>


        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.20-b/turtlegui.js" crossorigin="anonymous"></script>
    <script src="/clientui/static/hackathon.js"></script>
</body>
</html>

